.cv-section {
    font-size: 30px;
    flex: 2;
    padding: 0 4em 0 4em;
    overflow: auto;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.personal-info > div {
    margin: 0.1em;
}

.number-email, .location {
    font-size: 16px;
}

.job-description {
    font-size: 16px;
    margin-top: 1em;;
}

.occupationTitle {
    font-weight: 400;
    margin-top: 1em;
}

.header {
    color: navy;
    font-size: 0.75em;
}

.ul {
    font-size: 0.75em;
    padding: 0;
}

.header:hover {
    color: #42A5F5;
}

.listItem {

    color: black;
}

.date {
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-size: 18px;
}

.description {
    font-size: 14px;
} 

li > div {
    margin-top: 0.3em;
}

.experience-container-cv, .education-container-cv, .current-occupation {
    padding: 0.25em;
    border: solid 1px navy;
    border-radius: 30px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.current-occupation {
    padding: 0.75em;
}