.cv-section {
    font-size: 30px;
    flex: 2;
    padding: 0 6em 0 6em;
    overflow: auto;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.personal-info > div {
    margin: 0.1em;
}

.number-email, .location {
    font-size: 16px;
}

.job-description {
    font-size: 16px;
    margin-top: 1em;;
}

.occupationTitle {
    font-weight: 400;
    margin-top: 1em;
}

.header {
    padding-left: 0;
    margin-top: 2em;
    color: navy;
}

.header:hover {
    color: #42A5F5;
}

.listItem {
    padding: 1em;
    font-size: 16px;
    color: black;
}

.date {
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-size: 18px;
}

.description {
    font-size: 14px;
} 

li > div {
    margin-top: 0.3em;
}