#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-height: 90%;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 2px;
  font-size: 14px;
}
